[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
faker = "*"
pandas = "*"
requests = "*"
boto3 = "*"
python-dotenv = "*"
pyarrow = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "uvicorn backend.fakeapi.start:app --reload --host 0.0.0.0 --port 8001"